@model GigDetailViewModel

@{
    ViewData["Title"] = "Gig Details";
}

<div>
    <div class="gig-artist-heading">
        <h2>@Model.Gig.Artist.FullName</h2>

        <span class="gig-artist-follow-button">
            @if (Model.IsFollowingArtist && Model.IsAuthenticated)
            {
                <button data-artist-id="@Model.Gig.Artist.Id" class="btn btn-info btn-xs js-toggle-following">Following Artist</button>
            }
            else
            {
                <button data-artist-id="@Model.Gig.Artist.Id" class="btn btn-default btn-xs js-toggle-following">Follow Artist</button>
            }
        </span>

    </div>
</div>

<p>Performing at @Model.Gig.Venue on @Model.Gig.DateAndTime.ToString("dd MMM yyyy") at @Model.Gig.DateAndTime.TimeOfDay.ToString("hh\\:mm")</p>


@if (Model.IsAttending)
{
    <p>You are attending this gig.</p>
}