@model GigDetailViewModel

@{
    ViewData["Title"] = "Gig Details";
}

<div id="gig">
    <div class="gig-artist-heading">
        <h2>@Model.Gig.Artist.FullName</h2>

        <span class="gig-artist-follow-button">
            @if (Model.IsAuthenticated)
            {
                <button data-artist-id="@Model.Gig.ArtistId"
                        class="btn @(Model.IsFollowingArtist ? "btn-info": "btn-default") btn-xs js-toggle-following">
                    @(Model.IsFollowingArtist ? "Following Artist" : "Follow Artist")
                </button>
            }
        </span>

    </div>
</div>

<p>Performing at @Model.Gig.Venue on @Model.Gig.DateAndTime.ToString("dd MMM yyyy") at @Model.Gig.DateAndTime.TimeOfDay.ToString("hh\\:mm")</p>


@if (Model.IsAttending)
{
    <p>You are attending this gig.</p>
}

@section Scripts
    {
    <script>
        $(document).ready(function () {

            ArtistController.initialize("#gig");

        });
    </script>

}