@model IEnumerable<Gig>
@{
    ViewData["Title"] = "My Upcoming Gigs";
}

<h2 class="voffset4">My Upcoming Gigs.</h2>

<ul class="calendar">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date" title="@gig.DateAndTime.ToString("F")">
                <div class="month">@gig.DateAndTime.ToString("MMM")</div>
                <div class="day">@gig.DateAndTime.ToString("d ")</div>
            </div>
            <div class="detail">
                <p class="artist"><b>@gig.Venue</b></p>
                <p class="genre">@gig.Genre.Name</p>
                <div class="actions">
                    <a asp-action="Edit" asp-controller="Gigs" asp-route-gigId="@gig.Id" class="btn btn-default btn-xs">Edit</a>
                    <a data-gig-id="@gig.Id" class="btn btn-default btn-xs js-cancel-gig">Cancel ?</a>
                </div>
            </div>
        </li>
    }
</ul>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".js-cancel-gig").click(function (e) {

                var button = $(e.target);

                var msg = "Are you sure you cant to cancel this gigs?";

                if (!confirm(msg)) { return; }

                $.ajax({
                    url: "/api/gigs/cancel?gigId=" + button.attr("data-gig-id"),
                    method: "DELETE"
                })
                    .done(function () {
                        button.closest("li").fadeOut(function () {
                            $(this).remove();
                        });
                    })
                    .fail(function (xhr, textStatus, errorThrown) {
                        alert("Something went wrong");
                    });
            });
        });
    </script>
}

