@model IEnumerable<Gig>
@{
    ViewData["Title"] = "My Upcoming Gigs";
}

<h2 class="voffset4">My Upcoming Gigs.</h2>

<ul class="calendar">
    @foreach (var gig in Model)
    {
        <li class="@(gig.DateAndTime < DateTime.Now ? "greyout" : "")" title="@gig.DateAndTime.ToString("F")">
            <div class="date">
                <div class="month">@gig.DateAndTime.ToString("MMM")</div>
                <div class="day">@gig.DateAndTime.ToString("d ")</div>
            </div>
            <div class="detail">
                <p class="artist"><b>@gig.Venue</b></p>
                <p class="genre">@gig.Genre.Name</p>
                <div class="actions">
                    <a asp-action="Edit" asp-controller="Gigs" asp-route-gigId="@gig.Id" class="btn btn-default btn-xs">Edit</a>
                    <button class="btn btn-default btn-xs">Delete</button>
                </div>
            </div>
        </li>
    }
</ul>

