@model MineGigViewModel
@{
    ViewData["Title"] = "My Gigs";
}

<h2 class="voffset4">My Gigs.</h2>


<div class="row">
    <div class="col-md-4 js-upcoming-gigs">
        <h4 class="voffset4">Upcoming Gigs <span class="badge">@Model.UpcomingGigs.Count</span></h4>
        <ul class="calendar">
            @foreach (var gig in Model.UpcomingGigs)
            {
                <li>
                    <div class="date" title="@gig.DateAndTime.ToString("F")">
                        <div class="month">@gig.DateAndTime.ToString("MMM")</div>
                        <div class="day">@gig.DateAndTime.ToString("d ")</div>
                    </div>
                    <div class="detail">
                        <p class="artist"><b>@gig.Venue</b></p>
                        <p class="genre">@gig.Genre.Name</p>
                        <div class="actions">
                            <a asp-action="Edit" asp-controller="Gigs" asp-route-gigId="@gig.Id" class="btn btn-default btn-xs">Edit</a>
                            <a data-gig-id="@gig.Id" class="btn btn-default btn-xs js-cancel-gig">Cancel ?</a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>

    <div class="col-md-4">
        <h4 class="voffset4">Past Gigs <span class="badge">@Model.PastGigs.Count</span></h4>
        <ul class="calendar">
            @foreach (var gig in Model.PastGigs)
            {
                <li>
                    <div class="date" title="@gig.DateAndTime.ToString("F")">
                        <div class="month">@gig.DateAndTime.ToString("MMM")</div>
                        <div class="day">@gig.DateAndTime.ToString("d ")</div>
                    </div>
                    <div class="detail">
                        <p class="artist"><b>@gig.Venue</b></p>
                        <p class="genre">@gig.Genre.Name</p>
                    </div>
                </li>
            }
        </ul>
    </div>

    <div class="col-md-4 js-cancelled-gigs">
        <h4 class="voffset4">Cancelled Gigs <span class="badge">@Model.CancelledGigs.Count</span></h4>
        <ul class="calendar">
            @foreach (var gig in Model.CancelledGigs)
            {
                <li>
                    <div class="date" title="@gig.DateAndTime.ToString("F")">
                        <div class="month">@gig.DateAndTime.ToString("MMM")</div>
                        <div class="day">@gig.DateAndTime.ToString("d ")</div>
                    </div>
                    <div class="detail">
                        <p class="artist"><b>@gig.Venue</b></p>
                        <p class="genre">@gig.Genre.Name</p>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".js-cancel-gig").click(function (e) {

                var button = $(e.target);

                bootbox.confirm({
                    title: "Cancel Gig?",
                    message: "Are you sure you want to cancel this gig?",
                    buttons: {
                        cancel: {
                            label: 'No',
                            className: 'btn btn-primary'
                        },
                        confirm: {
                            label: 'Yes',
                            className: 'btn btn-danger'
                        }
                    }, callback: function (confirmed) {

                        if (confirmed) {
                            $.ajax({
                                url: "/api/gigs/cancel?gigId=" + button.attr("data-gig-id"),
                                method: "DELETE"
                            })
                                .done(function () {
                                    var upcomingGigsHeading = $(".js-upcoming-gigs .voffset4 .badge").text();
                                    var numberOfUpcomingGigs = parseInt(upcomingGigsHeading) - 1;
                                    $(".js-upcoming-gigs .badge").text(numberOfUpcomingGigs);

                                    var gig = button.closest("li")
                                        .hide()
                                        .appendTo(".js-cancelled-gigs .calendar")
                                        .fadeIn("slow")
                                        .find(".actions")
                                        .hide();

                                    var cancelledGigsHeading = $(".js-cancelled-gigs .voffset4 .badge").text();
                                    var numberOfCancelledGigs = parseInt(cancelledGigsHeading) + 1;
                                    $(".js-cancelled-gigs .badge").text(numberOfCancelledGigs);
                                })
                                .fail(function (xhr, textStatus, errorThrown) {
                                    console.log("Failed");
                                });
                        }
                    }
                });
            });
        });
    </script>
}

