@model IEnumerable<UserNotification>

<li class="dropdown">
    <a class="btn btn-group dropdown-toggle js-notification-button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-is-unread-notifications="@Json.Serialize(@ViewBag.IsUnreadNotification)">
        <span>Notification</span>
        @if (ViewBag.IsUnreadNotification)
        {
            if (Model.Count() > 9)
            {

                <span class="label label-primary js-notification-label">9 +</span>
            }
            else
            {
                <span class="label label-primary js-notification-label">@Model.Count()</span>
            }
        }
    </a>

    <ul class="dropdown-menu js-notifications">
        @foreach (var notification in Model)
            {
            <li data-notification-id="@notification.NotificationId">
                <a href="#">@notification.Notification.ToString()</a>
            </li>
            <li role="separator" class="divider"></li>
        }
    </ul>
</li>