@model GigsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-info collapse js-alert-error">
    <a href="#" class="pull-right" style="color:white" onclick="$('.js-alert-error').hide()">x</a>
    <p></p>
</div>

<ul class="calendar">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">@gig.DateAndTime.ToString("MMM")</div>
                <div class="day">@gig.DateAndTime.ToString("d ")</div>
            </div>
            <div class="detail">
                <p class="artist">
                    <b>@gig.Artist.FullName</b>
                </p>
                <p class="genre">@gig.Genre.Name</p>
                @if (Model.IsAuthenticated)
                {
                    <button data-artist-id="@gig.ArtistId" class="btn btn-default btn-xs js-toggle-following">Follow Artist</button>
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-xs js-toggle-attendance">Going ?</button>
                }
            </div>
        </li>
    }
</ul>

@section Scripts
{
    <script>
        $(document).ready(function () {

            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                    .success(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function (xhr, textStatus, errorThrown) {
                        var alert = $(".js-alert-error");
                        alert.find("p").text(xhr.responseText);
                        alert.show();
                    });
            });

            $(".js-toggle-following").click(function (e) {
                var button = $(e.target);
                $.post("/api/following", { FolloweeId: button.attr("data-artist-id") })
                    .success(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Following");
                    })
                    .fail(function (xhr, textStatus, errorThrown) {
                        var alert = $(".js-alert-error");
                        alert.find("p").text(xhr.responseText);
                        alert.show();
                    })
            });
        });
    </script>

}
